* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

p {
    margin-bottom:16px;
}

header {
    background-color: #000000;
    color: #ffffff;
} 

 header a {
    color: #aaaaaa;
}

 header a:hover {
    color:#ffffff;
}