/* changing lowercase */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
}

body {
    background-color:#ffffff;
    font-family: cambria, serif;
    font-size: 16px;
    line-height: 24px;
}

div {
    background-color:#009966;
    border-style: double;
    border-width: 5px;
    margin-left: 10%;
    margin-right: 10%;
}

p {
    margin-bottom: 16px;
}

header {
    background-color: #009966;
    height: 60px;
} 

header h1 {
    clear:both;
    float:left;
    font-family: cambria, arial, sans-serif;
    font: #000000;
    font-size: 50px;
    font-weight:500;
    padding: 0px; /* TRouble */
    margin-top:23px;
}

header nav {
    float:right;
    /*margin-top: 60px;*/
}

header a {
    color: #000000;
    margin-right: 20px;
    text-decoration:none;
}

 header a:link {}
 header a:visited {}
 header a:hover {
    color:#ffffff;
}
header a:active {
    text-decoration:underline;
}
header a:focus {}

figure {
    padding:0px; 
}

Section {
    margin-top: 0px;
    margin-left: 355px;
    padding: 0px;
}
    
/*img {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}*/
article {
    margin-bottom:0px;
    clear:both;
    padding: 0 10px 0 15px;
}

article h1 {
    font-size: 36px;
    line-height: 44px;
    margin-top: 4px;
}

article h2 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 25px;
}

footer {
    font-size: 12px; 
    padding:  200px 0 10px 0;
}