* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
}

body {
    background-color:#ffffff;
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 24px;
}

div {
    border-style: solid;
    border-width: 5px;
}

p {
    margin-bottom:16px;
}

header {
    background-color: #ffffff;
    height: 150px;
} 

header h1 {
    width: 50%;
    float:left;
    font-family: helvetica, arial, sans-serif;
    font: #000000;
    font-size: 50px;
    font-weight:500;
    padding: 0px; /* TRouble */
}

header nav {
    float:right;
    width: 50%
    /*margin-top: 60px;*/
}

header a {
    color: #aaaaaa;
    margin-right: 20px;
    text-decoration:none;
}

 header a:link {}
 header a:visited {}
 header a:hover {
    color:#ffffff;
}
header a:active {
    text-decoration:underline;
}
header a:focus {}

img {
    float:right;
    padding:0px; 
    margin-right: 50px;
}

article {
    clear:both;
    padding: 0 10px 0 10px;
}

article h1 {
    font-size: 36px;
    line-height: 44px;
    margin-top: 4px;
}

article h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 4px;
}

footer {
    font-size: 12px; 
    padding:  10px 0 10px;
}